<div class="container-fluid col-lg-12" style="font-family: mosterrat-regular">
  <div class="row" style="margin-top: 30px;">

    <div class="col-lg-6 col-md-12" style="margin-bottom: 20px;">
      <a routerLink="/customer-add" style="text-decoration: none;">
        <div class="card d-flex card1" >
          <div class="card-body align-items-center d-flex justify-content-center">
            <h3>Add New Customer</h3>
          </div>
        </div>
      </a>
    </div>

    <div class="col-lg-6 col-md-12" style="margin-bottom: 20px;">
      <a routerLink="/customer-view" style="text-decoration: none;">
        <div class="card d-flex card2" >
          <div class="card-body align-items-center d-flex justify-content-center">
            <h3>View All Customers</h3>
          </div>
        </div>
      </a>
    </div>

    <div class="col-lg-6 col-md-12" style="margin-bottom: 20px;">
      <a routerLink="/customer-edit" style="text-decoration: none;">
        <div class="card d-flex card3" >
          <div class="card-body align-items-center d-flex justify-content-center">
            <h3>Edit Customer</h3>
          </div>
        </div>
      </a>
    </div>

    <div class="col-lg-6 col-md-12" style="margin-bottom: 20px;">
      <a routerLink="/customer-delete" style="text-decoration: none;">
        <div class="card d-flex card4" >
          <div class="card-body align-items-center d-flex justify-content-center">
            <h3>Delete Customer</h3>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
