@font-face {
  font-family: mosterrat-light;
  src: url('../assets/fonts/Montserrat-Light.ttf');
}
@font-face {
  font-family: mosterrat-regular;
  src: url('../assets/fonts/Montserrat-Regular.ttf');
}
