.card-body{
  font-weight: 500;
}

.card-body .col-lg-12{
  padding: 5px;
}

.card-body .col-lg-12 .row :nth-child(2){
  color: #333;
  font-weight: 600;
  background-color: #f1f1f1;
}

.card-body .col-lg-12 .row :nth-child(1){
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color:#343A40;
  color:white
}
/* .card-body :nth-child(odd){
  background-color: tomato;
} */
@media only screen and (min-width: 992px) {
  .container{
    margin-top: 20px;
  }
}
